/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  form:valid input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  form:invalid input[type="submit"] {
    background-color: rgb(148, 151, 148);
    color: white;
    padding: 12px 20px;
    border: none;
    
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .cancelbtn {
    background-color: #ee6631;
    margin-left: 10px;
    border: none; 
    color:white;
    padding: 12px 20px; 
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelbtn:hover {
    background-color: #ee2d1f;
  }

  @media (min-width: 1000px) {
   .container{
        max-width: 750px;
        margin-top: 25px;
    }
}

/* ----------- Non-Retina and Retina Screens ----------- */
@media screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1)
  and (min-device-width: 1000px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .container{
      max-width: 750px;
      margin-top: 25px;
  }
}

