<div class="container">
  <h2>Simple Login Form</h2>
  <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
  <div class="imgcontainer">
    <img src="assets/images/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="form-group">
  <input type="text" placeholder="Enter Username" formControlName="uname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.uname.errors }"/>
    <div *ngIf="submitted && f.uname.errors" class="invalid-feedback">
      <div *ngIf="f.uname.errors.required">Username is required</div>
    </div>
  </div>

  <div class="form-group">
  <input type="password" placeholder="Enter Password" formControlName="psw" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.psw.errors }">
    <div *ngIf="submitted && f.psw.errors" class="invalid-feedback">
      <div *ngIf="f.psw.errors.required">Password is required</div>
    </div>
  </div> 
      
<span class="psw">Forgot <a href="#">password?</a></span>
    <label>
      <input class="checkbox" type="checkbox" checked="checked" name="remember" formControlName="remember"> Remember me
    </label>    
    <button type="submit">Login</button>
    <button type="button" class="cancelbtn" (click)="cancel()">Cancel</button>

</form>
</div>


<!--Code Placed Below is for testing purposes. Delete code after use.-->
<hr>
  {{message}}
  <button (click)="newMessage()">New Message</button>

